#box1{
    background-color: aqua;
    border-color: brown;
    border-width: 2.4px;
    border-style: solid;
  }
  #box2{
    background-image: url('./img/stars.jpg'); no-repeat center center/cover;
    color: azure;
    width: 700px;
    height: 270px;
    border-top-left-radius: 10 px;
    border-width: 2;
    border-color: aquamarine;
  }
  #box3{
    background-color: rgb(191, 123, 40);
    border-width: 2;
    border-style: solid;
    border-color: rgb(48, 240, 240);
  
  }
  #box4{
    background-image: url('./img/leaf.png')  ;
    background-attachment: fixed;
    
  }